
body{
  
  font-family: Arial;
  background-color: rgb(255, 255, 255);

}

/*======CONTACTANOS 1 (ICONOS REDES SOCIALES)======*/
/*=================================================*/

#ContenedorUno-redes{
   display: block;
   text-align: right;
   background-color: black;
   padding: 5px;

   padding-right: 20px;

}

.formato-redes-Uno{
/*Formato de los iconos*/
   width: 28px;
}

.email-formato{
   width: 32px;

}


@media only screen and (max-width: 760px){
   #ContenedorUno-redes{
      display: none;
   }
}

@media only screen and (max-width: 550px){ 
/*Desapare la caja contenedora de redes sociales*/
   #ContenedorUno-redes{
      display: none;
   }

}

/*=======================MENU======================*/
/*=================================================*/

.header{
   background-color: rgb(255, 255, 255);
}

.nav {

  display: flex;
  justify-content: safe flex-end; /*Right-safari no toma*/
  margin: 0 auto;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav-menu {

  display: flex;
  
  list-style: none;
  /*Le doy margen a ultimo item del menu*/
  margin-right: 20px;
}

.nav-menu-item {
/*items que integran el menu */
  color: white;
  font-size: 18px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
  
  padding-top: 10px;
  margin: 0 10px;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #a939ff;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.5s;

}

.nav-toggle {

  color: white;
  background: none;
  border: none;
  font-size: 30px;
  line-height: 60px;
  cursor: pointer;

  display: none;
  padding: 0 30px;
}

/*--Menu responsive--*/
/*-------------------*/

@media only screen and (max-width: 760px){
   
  .header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
  }

  .nav-menu {
    
    background-color: rgb(255, 255, 255); /*Fondo - del menu responsive*/
    flex-direction: column;
    align-items: center;
    margin: 0;
   
    position: fixed;
    top: 60px;  /*-------Importante*/
    width: 100%;
    padding-bottom: 20px;

    height: calc(100% - 50px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.2s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  .nav-menu-link{
    color: black;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: yellow;
    color: #20ccd2; /*color verdeagua*/
  }

  .nav-toggle {
   /*RAYAS MENU RESPONSIVE para menu*/
    display: block;
    color: rgb(255, 255, 255);
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
 
}/*Resp menu*/


@media only screen and (max-width: 550px){

.nav-menu {
   
   position: fixed;
   top: 60px;  /*-------Importante*/
 
 }

}


/*==============CONTENEDOR INFORMACION=============*/
/*=================================================*/

#Contenedor-Informacion-Inyect{

   width: 100%;
   display: flex;
   height: 300px;
   /*background: url(../Imagenes/fondo1.png);
   background-size: cover;*/
   background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(0, 226, 226));
   clip-path: ellipse(100% 55% at 60% 44%);

   padding-top: 10px;
   padding-bottom: 60px;
}

.caja-contenido-informacion{
/*CAJA HIJA dentro del contenedor
   background-color: red; */
   margin-left: 20px;
   
}

.formato-Video{
/*LOGOTIPO - VIDEO*/

   width: 200px;
   height: 200px;
   border-radius: 100%;
   border: 5px solid white;
   object-fit: cover;

   margin-left: 50px;      
   margin-top: -10px;
}


.titulo-principal{
/*TITULO - PRINCIPAL*/

   font-size: 30px;
   color: rgb(0, 0, 0);
}

.formato-parrafo-inyect{
/*P -  Parrafo*/
   font-size: 20px;
   color: rgb(0, 0, 0);
   padding-right: 20px;
   margin-top: 40px;
}

.Responsive-items-redesSociales{
/*Oculto los iconos de redes sociales, pq 
se van a ver solo en el responsive*/   
   display: none;
   
}

/*---Contenedor info responsive--*/
/*------------------------------*/

@media only screen and (max-width: 760px){
/*El clic-path me interfiere con el menu 
por eso lo saco a la misma medida que cuando arranca el 
menu responsive*/
  
  #Contenedor-Informacion-Inyect{
     /*El contenedor se mantiene display - flex*/
     height: 550px;
     clip-path: none;
     display: block;
     text-align: left;
     padding-top: 70px;
     padding-left: 10px;
  }
  .caja-contenido-informacion{
   /*CAJA HIJA dentro del contenedor*/
      width: 90%;    
   }

  .formato-Video{
  /*VIDEO*/
     margin-left: 20px;  
     margin-top: 20px;
  }
  
  .formato-parrafo-inyect{
   /*P -  parrafo*/
   color: rgb(0, 0, 0);
   font-size: 20px;
   
   margin-top: 40px;
   margin-right: 40px;
      
   }

}/*Responsive-contenedor-info*/

@media only screen and (max-width: 550px){

.Responsive-items-redesSociales{
   /*Oculto los iconos de redes sociales, pq 
   se van a ver solo en el responsive*/   
      display: inline-block;
   }
}


/*=======SUBTITULO (EN QUE TE PODEMOS AYUDAR)======*/
/*=================================================*/

.formato-subtitulo{
/*H2 - (En que te ayudamos)*/
    text-align: center;
    font-size: 50px;
    color: #85ffff;
    text-shadow: 3px 2px#057d7d;
    margin-top: 30px;

}

@media only screen and (max-width: 580px){
   .formato-subtitulo{
      /*H2 - (En que te ayudamos)*/
          font-size: 40px;
      }
}/*Responsive - H2*/


/*=============IMAGENES ILUSTRATIVAS===============*/
/*=================================================*/

#Contenedor-imagenes-ilustrativas{
   
  /* background-color: rgb(212, 212, 212); */
  margin-top: 20px;
}

#Responsive-imagenes-ilustrativas{
/*Contenedor dos - contiene lo mismo pero se oculta y cuando entra en el 
tamaño responsivo lo muestro*/
     display: none;
}

.cajaHija-del-contenedor{
/*Caja hija izquierda*/
   display: flex; /*para que los contenidos esten uno al lado del otro*/
   justify-content: left;

   height: 400px;  
  /* background-color: rgb(255, 159, 159); */
   /*border: 2px solid black;*/
}

.cajaHija-del-contenedor-medio{
/*!!!IMPORTANTE CAJA HIJA DEL MEDIO*/

   display: flex; /*para que los contenidos esten uno al lado del otro*/
   justify-content: right;

   height: 400px;  
   /*background-color: rgb(255, 159, 159); */

}

.imagen-formato-ilustracion{
/*IMAGEN-ilustracion*/
   width: 50%;
   height: auto;
   object-fit: contain;

  /* background-color: red; */
  animation-name: animarIlustraciones;
  animation-duration: 3s;
}

@keyframes animarIlustraciones{
   
   0%{
       transform: scale(.1);
   }
}

.titulo-ilustraciones{
/*H4 - TITULO*/

  font-size: 22px;
}

.Contenedor-ilustracion-BLOCK{
/*Caja contenedora de INFORMACION que acompaña a la ilustracion*/
   /*background-color: green;*/
   display: block;
   margin-top: 50px;
   margin-left: 20px;
   margin-right: 0px;
}

.formato-ITEMS{
/*LI - items*/

   font-size: 20px;
}


/*---Ilustraciones RESPONSIVE--*/
/*------------------------------*/

@media only screen and (max-width: 904px){

   #Contenedor-imagenes-ilustrativas{
      display: block;
      
      padding: 0;
   }

   .cajaHija-del-contenedor{
 
      display: flex; /*para que los contenidos esten uno al lado del otro*/
     
      height: 400px;  
      padding-left: -100px;
      /*background-color: rgb(159, 255, 201);*/
   }

      
   .imagen-formato-ilustracion{
     /*Formato de la imagenes en responsivo*/
      width: 300px;
   }

   .Contenedor-ilustracion-BLOCK{
      /*Caja contenedora de INFORMACION que acompaña a la ilustracion*/
         display: block;
         text-align:left;
        
      }
  
}/*responsive - ilustraciones*/

@media only screen and (max-width: 760px){
/*SACO EL ESTILO PQ AFECTA AL MENU*/


.imagen-formato-ilustracion{
   /*IMAGEN-ilustracion*/
   width: 50%;
   height: auto;
   object-fit: contain;

  /* background-color: red; */
  animation-name: animarIlustraciones;
  animation-duration: 3s;
}

@keyframes animarIlustraciones{
   
   0%{
       transform: none;
   }
}

      
}

@media only screen and (max-width: 580px){

   #Contenedor-imagenes-ilustrativas{
      display: none;
   }
   
   #Responsive-imagenes-ilustrativas{
   /*CONTENEDOR-padre en responsivo*/
       display: block;
       text-align:center;
       margin-top: 10px;
   }

   .cajaHija-del-contenedor{
      /*Caja hija*/    
         display: block;
         text-align: center;
         height: 490px;
   }

   .Contenedor-ilustracion-BLOCK{
      /*Caja contenedora de INFORMACION que acompaña a la ilustracion*/
      
         display: block;
         text-align:center;
         
    }

    .titulo-ilustraciones{
      /*H4 - TITULO*/
      
        font-size: 15px;
        margin-top: -50px;
      }
    
   

}/*responsive - ilustraciones*/


/*================VIDEO (PROPAGANDA)===============*/
/*=================================================*/

.titulo-ubicacion{
/*H5 -- titulo arriba del mapa*/
   text-align: center;
   font-size: 50px;
   margin-top: 30px;
   color: #85ffff;
   text-shadow: 3px 2px#057d7d;
   
   margin-top: 80px;
   margin-bottom: 20px;

}

.Video-formato{
/*VIDEO PROPAGANDA*/
   width: 100%;
}

@media only screen and (max-width: 580px){
   .titulo-ubicacion{
      /*H2 - (En que te ayudamos)*/
          font-size: 35px;
      }
}/*Responsive - H5*/


/*====================MAPA UBICACION===============*/
/*=================================================*/

iframe{
    margin-top: 50px;
}

 
/*=============BOTON (MÁS SOBRE NOSOTROS)==========*/
/*=================================================*/

#contenedor-boton-mas{

   display: block;
   text-align: center;
   margin-top: 100px;
}

/*** ESTILOS BOTÓN GROW SKEW ***/
.boton-mas-sobre-nosotros{
   background: #fff; /* color de fondo */
   color: #4741d7; /* color de fuente */
   text-decoration: none;
   border: 2px solid #4741d7; /* tamaño y color de borde */
   padding: 16px 100px;
   border-radius: 3px; /* redondear bordes */
   position: relative;
   z-index: 1;
   overflow: hidden;
   display: inline-block;
 }
 .boton-mas-sobre-nosotros:hover {
   color: #fff;/* color de fuente hover */
 }
 .boton-mas-sobre-nosotros::after {
   content: "";
   background: #4741d7; /* color de fondo hover */
   position: absolute;
   z-index: -1;
   padding: 16px 20px;
   display: block;
   left: -20%;
   right: -20%;
   top: 0;
   bottom: 0;
   transform: skewX(-45deg) scale(0, 1);
   transition: all 0.3s ease;
 }

 .boton-mas-sobre-nosotros:hover:after {
   transition: all 0.3s ease-out;
   transform: skewX(-45deg) scale(1, 1);
 }
 

@media only screen and (max-width: 580px){
    
   .boton-mas-sobre-nosotros{
      /*a - boton*/

         padding: 10px 30px 10px 30px;
      
      }

}/*Responsive boton mas sobre nsotros*/


/*=================PIE DE PAGINA===================*/
/*=================================================*/

.contenedor-pie-de-pagina-uno{
   
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   background: url(../Imagenes/fondo1.jpeg);
   background-size: cover; 

   padding: 20px;
   margin-top: 100px;
}


.hija-pie-de-pagina{
/*Caja hija*/ 
   text-align: center;
   width: 30%; 
   background-color: rgb(219, 219, 219);
   padding: 20px;
   
}

.contenedor-imagenes-pie{
/*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
   text-align: center;
   padding-bottom: 14px;
}

.titulos-pie{
/*Estilo del los titulos del pie de pagina, donde 
se especifica cada items*/
   font-size: 20px;
  
}

@media only screen and (max-width: 800px){
   .hija-pie-de-pagina{
      /*Caja hija*/ 
         text-align: center;
         width: 100%;
   }
   
   .respoonsive-mediosPagos{
      /*Solo le doy espacio*/
         padding-top: 1px;
      }

   .responsive-derechos-reservados{
      /*Solo le doy espacio*/
        padding-top: 10px;
   }

   .contenedor-imagenes-pie{
   /*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
      padding-bottom: 0;
   }
   
   .espacio-reponsive{
      padding-top: 60px ;
   }
         
}/*responsive pie pagina*/

@media only screen and (max-width: 550px){

   .contenedor-pie-de-pagina-uno{
   
      display: block;
      text-align: center;   
   }

   .hija-pie-de-pagina{
      /*Caja hija*/ 
         text-align: left;
         width: 100%;
         padding-top: 30px;
   }
   .contenedor-imagenes-pie{
   /*IMAGENES CONTENEDOR (ES UN DIV) - medios de pagos*/
         text-align: left;
   }
   .espacio-reponsive{
      padding-top: 60px ;
   }
   
}/*responsive pie pagina*/

/*=================WHATSAPP FLOTANTE===============*/
/*=================================================*/

.btn-wsp{
   
   width: 100px;
   height: 80px;
   position: fixed;
   line-height: 55px;
   bottom: 30px;
   right: 30px;
   text-align: center;

   padding-top: 15px;
   
}

.iconoTamañoWP{
/*Icono del WHATSAPP*/
    width: 70px;
}

@media only screen and (max-width: 800px){

  .btn-wsp{

     position: fixed;
     bottom: 20px;
     right: 0px;
     padding-top: 15px;
     padding-bottom: 2px;
  }

  .iconoTamañoWP{

       width: 60px;
  }

} /*Responsive Wp*/;