/*-----------CONTACTANOS 1---------
---------------------------------*/

#ContenedorUno-redes{
   
   display: block;
   text-align: right;
   background-color: white;
   padding: 5px;

   padding-right: 20px;

}

.formato-redes-Uno{
/*Formato de los iconos*/
   width: 30px;
}

.email-formato{
  
   width: 37px;
   padding-top: 2px;
}

@media only screen and (max-width: 550px){ 
/*Desapare la caja contenedora de redes sociales*/
   #ContenedorUno-redes{
      display: none;
   }

}

/*--------------------MENU------------- */
/*------------------------------------- */

.header{
  background-color: #00ffe0;
}

.nav {

  display: flex;
  justify-content: right;
  margin: 0 auto;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-menu {

  display: flex;
  list-style: none;
  /*Le doy margen a ultimo item del menu*/
  margin-right: 20px;
}

.nav-menu-item {
/*items que integran el menu */
  color: white;
  font-size: 18px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
  
  padding-top: 10px;
  margin: 0 10px;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #6300af;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.5s;

}

.nav-toggle {

  color: white;
  background: none;
  border: none;
  font-size: 30px;
  line-height: 60px;
  cursor: pointer;

  display: none;
  padding: 0 30px;
}

/*--Menu responsive--*/
/*-------------------*/

@media only screen and (max-width: 760px){
   
  .header {
    background-color:#00ffe0;
  }

  .nav-menu {
    
    background-color: white; /*Fondo - del menu responsive*/
    flex-direction: column;
    align-items: center;
    margin: 0;
   
    position: fixed;
    top: 110px;  /*-------Importante*/
    width: 100%;
    padding-bottom: 20px;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.2s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  .nav-menu-link{
    color: black;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: yellow;
    color: #20ccd2; /*color verdeagua*/
  }

  .nav-toggle {
   /*Rayas para menu*/

    display: block;
    color: black;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
 
}/*Resp menu*/


@media only screen and (max-width: 550px){

.nav-menu {
   
   position: fixed;
   top: 60px;  /*-------Importante*/
 
 }

}


/*-----------CONTENEDOR INFORMACION----------*/
/*-------------------------------------------*/

#Contenedor-Informacion-Inyect{
   
   width: 100%;
   display: flex;
   height: 300px;
   background-image: linear-gradient(0deg, #f6cdff 0%, #00ffe0 100%);
   clip-path: ellipse(100% 55% at 60% 44%);
   
   padding-top: 10px;
   padding-bottom: 60px;
}

.caja-contenido-informacion{
/*CAJA HIJA dentro del contenedor
   background-color: red; */
   margin-left: 20px;
}

.formato-Video{
/*LOGOTIPO - VIDEO*/

   width: 200px;
   height: 200px;
   border-radius: 100%;
   border: 5px solid white;
   object-fit: cover;

   margin-left: 50px;      
   margin-top: -10px;
}


.titulo-principal{
/*TITULO - PRINCIPAL*/

   font-size: 30px;
}

.formato-parrafo-inyect{
/*P -  parrafo*/
   font-size: 20px;
   padding-right: 20px;
   margin-top: 40px;
}

.Responsive-items-redesSociales{
/*Oculto los iconos de redes sociales, pq 
se van a ver solo en el responsive*/   
   display: none;
   
}

/*---Contenedor info responsive--*/
/*------------------------------*/

@media only screen and (max-width: 760px){
/*El clic-path me interfiere con el menu 
por eso lo saco a la misma medida que cuando arranca el 
menu responsive*/
  
  #Contenedor-Informacion-Inyect{
     /*El contenedor se mantiene display - flex*/
     height: 500px;
     clip-path: none;
     display: block;
     text-align: left;
     
     padding-left: 20px;
  }
  .caja-contenido-informacion{
   /*CAJA HIJA dentro del contenedor*/
      width: 90%;    
   }

  .formato-Video{
  /*VIDEO*/
     margin-left: 20px;  
     margin-top: 20px;
  }
  
  .formato-parrafo-inyect{
   /*P -  parrafo*/
      font-size: 20px;
      margin-top: 40px;
      margin-right: 40px;
      
   }

}/*Responsive-contenedor-info*/


@media only screen and (max-width: 550px){

.Responsive-items-redesSociales{
   /*Oculto los iconos de redes sociales, pq 
   se van a ver solo en el responsive*/   
      display: inline-block;
   }
}



/*-----SUBTITULO (EN QUE TE PODEMOS AYUDAR)-----
----------------------------------------------*/

.formato-subtitulo{
/*H2 - (En que te ayudamos)*/
    text-align: center;
    font-size: 30px;
    margin-top: 30px;

}

/*--------------IMAGENES ILUSTRATIVAS-----------
-----------------------------------------------*/

#Contenedor-imagenes-ilustrativas{

   background-color: rgb(75, 121, 66);
   padding-left: 100px;
   padding-right: 100px;
}

.cajaHija-Izquierda{
/*Caja hija izquierda*/

   background-color: rgb(187, 161, 161);
   display: flex; /*para que los contenidos esten uno al lado del otro*/
   height: 500px;
}


.imagen-formato-Left{
/*IMAGEN-ilustracion - Izquierdo*/
   width: 50%;
   height: auto;
   object-fit: contain;
   /*background-color: red; */
}

.Contenedor-ilustracion-BLOCK{
/*Le saco el flex al contenedor informacion*/
   display: block;
   margin-top: 100px;
   margin-left: 20px;
}


/*---Ilustraciones responsive--*/
/*------------------------------*/

@media only screen and (max-width: 800px){

   .Contenedor-ilustracion-BLOCK{
      /*Le saco el flex al contenedor informacion*/
         display: block;
         margin-top: 150px;

      }
  
   .cajaHija-Izquierda{
      /*Caja hija ilustracion*/
          
         display: block;
         text-align: center;
         height: 450px;
      }

   .formato-ilustraciones{
      /*Formato de la imagenes en responsivo*/
         width: 280px;
   }

 .titulo-ilustraciones{
        
      margin-top: -180px;

   }
  
}/*responsive - ilustraciones*/

@media only screen and (max-width: 560px){

   #Contenedor-imagenes-ilustrativas{

      background-color: rgb(75, 121, 66);
      padding: 0;
   }
      
   .cajaHija-Izquierda{
      /*Caja hija ilustracion*/
          
         display: block;
         text-align: left;
         height: 450px;
      }

}/*responsive - ilustraciones*/








































/*--------------------SOBRE MI----------------*/

 .ContenedorSobreMi{

   
    box-shadow: 1px 1px 100px 100px black;

    padding-bottom: 100px;

 }

 .formatoImagenUnico{
 /*Imagen correo - caja 2*/
    margin-bottom: -4px;
    margin-left: -8px;
 }

.hijo{

   width: 400px;
	/*background-color: #16cad0; AZUL VERDE*/
	padding: 30px;
}

.logo-formato{
/*video Inyect*/
   width:  190px;
   height: 190px;
   border-radius: 50%;
   border: 3px solid white;
   object-fit: cover;

   animation-name: animarLogo;
   animation-duration: 0.5s;
}

@keyframes animarLogo{
    
    0%{

        transform: scale(.1);

    }

}

.parrafoSobreMi{
   
   font-size: 20px;
   font-weight: bold;
}

.enlaceMasSobreMi{
/*a - boton*/ 
   background-color: yellow;
	color: black;
   text-decoration: none;
   border: 1px solid #aab225;
   box-shadow: 1px 2px 1px 2px #bbc759;
   padding: 10px;
}

.enlaceMasSobreMi:hover{

   background-color: #faffd5;
   text-decoration: none;
}

.formatoIcono:hover{
/*Enlaces*/
   border-bottom: 3px solid #0a0a0a;
   padding-bottom: 10px;
}

.formatoEspecial{
/*caja de los iconos*/

   padding-top: 300px;
   padding-left: 130px;
}


@media only screen and (max-width: 900px){

    .ContenedorSobreMi{ 

       background-color: red;
       padding-bottom: 150px;
       clip-path: none;

    }

}/*Responsive Sobre mi*/



/*-------------SUB TITULO--- */

h5{
   
   text-align: center;
   font-size: 50px;
   background: -webkit-linear-gradient(left top, #5500f5, #6ff1c6);
  /*- background: linear-gradient(to bottom right, #0fdf, #4eb1b1);
   webkit-background-clip: text;  
   -webkit-text-fill-color: transparent;  */

    margin-top: 200px;
  
}

@media only screen and (max-width: 950px){
   
      h5{
         
          font-size: 33px;
            margin-top: 100px;
       }

}


@media only screen and (max-width: 500px){

      h5{
         
          font-size: 30px;
            margin-top: 100px;
       }

}



/*---CAJAS DE DISTINTOS PRECIOS---*/

.contenedorPrecios{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    object-fit: cover;

    justify-content: center;
    margin-top: 100px;
}

.hijoPrecios{
   
   width: 400px;
   margin-right:10px;
   
}

.hijoPrecios:hover{
   
   background-color: #90fff2;
}

.imagenesCajas{
   
   width: 400px;
   height: 600px;

}

ul{

   margin-left: 40px;
}


@media only screen and (max-width: 1300px){
 
   .hijoPrecios{
      margin-top: 60px;
      margin-right: 19px;
   }
    
}/*resp*/

@media only screen and (max-width: 500px){


   .hijoPrecios{
      
      margin-left: 13px;
      box-sizing: border-box;
   }

}/*Respo*/


/*----------MAPA UBICACION-------*/

iframe{

    width: 100%;
     
    margin-top: 150px;
}

.ContenedorMasSobreNosotros{
/*Boton más sobre nosotros*/
    
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;

}

.enlaceMasSobreNosotros{
    
    background-color: #ff6ceb;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

.enlaceMasSobreNosotros:hover{
/*Boton mas sobre nosotros*/
     background-color: #ffabf4;

}


/*----------WHATSAPP FLOTANTE-------*/

.btn-wsp{
   
   width: 100px;
   height: 80px;
   position: fixed;
   line-height: 55px;
   bottom: 30px;
   right: 30px;
   background-color: #aae3ac;
   border-radius: 100%;
   border: 1px solid #9fc2a9;
   text-align: center;
   
   padding-top: 15px;
   
}

.btn-wsp:hover{

    background-color: #b7ffbf;
}

.iconoTamañoWP{
   
    width: 60px;
}

@media only screen and (max-width: 800px){

  .btn-wsp{
     
     width: 71px;
     height: 53px;
     position: fixed;
     line-height: 55px;
     bottom: 30px;
     right: 20px;
     border-radius: 100%;
     text-align: center;
     
     padding-top: 15px;
     padding-bottom: 2px;

  }

  .iconoTamañoWP{

       width: 40px;
  }

} /* Cierre del what en los 800px;



/*------PIE DE PAGINA*/

 footer{
    
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 80px 0px 80px 10px;

    margin-top: 50px;
    margin-bottom: 3px;

 }

.parrafo_PieDePagina{

   font-size: 20px;
   text-align: center;
   margin-top: 40px;
}


.ulPieDePagina{
    margin-top: 30px;
    margin-left: 90px;
}


li{

    margin-top: 10px;
}

.enlacePieDepagina{
/*enlaces*/
   text-decoration: none;
   font-size: 20px;
   color: white;
}


.enlacePieDepagina:hover{
     
   color: #3dd3d8;
   text-shadow: 1px 1px black;
}

strong{

   margin-left: 40px;
   color: white;
   font-size: 20px;
   text-shadow: 2px 1px black;
}







